
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Pixselio.Web.Models.Request.LoginRequestModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Pixselio.Data.User> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<Pixselio.Data.User> userManager
<div class="container">
    <div class="text-center">
            @if (!SignInManager.IsSignedIn(User))
            {
                <div class="row">
                    <h3 class="font-weight-bold mb-5 ">
                        Login
                    </h3>

                </div>
                <div class="row">

                    @using (Html.BeginForm("SignIn", "Admin", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 mb-1">
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control textbox-border-radius validate-required validate-email", @maxlength = "50", @type = "text", @placeholder = "User Name" })
                            </div>
                            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 mb-4 mt-2">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control textbox-border-radius validate-required", @maxlength = "50", @type = "password", @placeholder = "Password" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12  mb-1">
                                <button type="submit" class="login-button button-drd float-left button-drd-width submit-form-button">Entry</button>
                            </div>
                            <div class="col-lg-4 col-md-0"></div>
                        </div>
                        @if (!Model.IsLoginSuccess)
                        {
                            <div class="row">
                                <text>
                                    <ul>
                                        <li class="text-white-50">
                                            @Model.ErrorMessage
                                        </li>
                                    </ul>
                                </text>
                            </div>
                        }
                    }
                </div>

            }
            else
            {
                <div class="col-md-6 mt-5 text-center">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="text-white"> Hoşgeldin @User.Identity.Name</h2>
                        </div>
                    </div>
                    <div class="row align-bottom">
                        <div class="col-md-12 col-sm-12">
                            <form class="form-inline just-content-center" asp-controller="Home" asp-action="Logout"
                                  asp-route-returnUrl="@Url.Page("/")"
                                  method="post">
                                <button type="submit" class="button-drd button-drd-width exit-button">Çıkış Yap</button>
                            </form>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
 



